.login-container {
  min-height: 100vh;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.login-image {
  height: 100vh;
  overflow: hidden;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 10vh 20vh 10vh 20vh;
}


