.catalog-card {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: #000000;
}

.catalog-card img {
  max-width: 100%;
  height: auto;
}

.catalog-card h3 {
  margin: 1rem 0;
}

.catalog-card p {
  color: #666;
}
