.login-container {
  min-height: 100vh;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.login-image {
  height: 100vh;
  overflow: hidden;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 20vh 20vh 10vh 20vh;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .login-form {
    padding: 5vh 5vh 5vh 5vh;
    height: auto;
    min-height: 100vh;
  }
}

/* Responsive styles for ReCAPTCHA */
@media (max-width: 768px) {
  .login-form .g-recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
    width: 125%;
  }
}

