.Logo {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-right: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-size: 250% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/logoBetter.png');
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-blend-mode: multiply;
    background-origin: border-box;
    background-clip: border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.Logo:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.Logo-text {
    height: 50px;
    width: 200px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-blend-mode: multiply;
    background-origin: border-box;
    background-clip: border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    background-image: url('../../assets/logo_text.png');
}
